.cdk-virtual-scroll-data-source-example .example-viewport {
    height: 300px;
    width: 500px;
    border: 1px solid black;
    user-select: none;
}

    .cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
        display: flex;
        flex-direction: row;
    }

.cdk-virtual-scroll-data-source-example .example-item {
    width: 150px;
    height: 100%;
}
